<header></header>
  <div class="jumbotron">
    <h1>Welcome to Golden Tusks</h1><hr>
  </div>
</header>

<body>
  <main>
    <div class="container">
       <h1 class="center text">New this week!</h1><hr>
      <div class="row">
        <div class="col-md-6">
          <div class="thumbnail">
            <img src="assets/maroon-polo.jpg.JPG" alt="Grey-polo" class="product-images">
            <div class="caption">
              <h3>Thumbnail label</h3>
            <p>...</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
          </div>
        </div>
     
    
    

        <div class="col-md-6">
          <div class="thumbnail">
            <img src="assets/red-long-sleeve.jpg.JPG" alt="Grey-polo" class="product-images">
            <div class="caption">
              <h3>Thumbnail label</h3>
            <p>...</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>  
</body>
