$navbar-default-bg: black;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: 800;
  font-family: cursive;
  font-style: oblique;
}

#logo:hover {
  color: none;
  text-decoration: none;
}

#bogo {
   color: white;
  font-size: 1.4em;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('Overland-x-trader.PNG');
  background-size: cover;
  height: 550px;
}

.jumbotron h1 {
  text-align: center;
  color: black;
  margin-bottom: 30px;
  font-weight: bold;
  letter-spacing: -1px;
  font-style: oblique;
  font-family: cursive;
}

.btn-xlarge {
  font-size: 1.7em;
}

.text {
  font-style: oblique;
  font-family: cursive;
}

footer {
  margin-top: 10px;
  padding-top: 1px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover {
  color: red;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}



