
<div class="container">
    <footer class="footer">
        <small>
            Copyright &copy; Golden Tusks
        </small>
        <nav>
            <ul>
                <li><%= link_to 'Home', root_path %> |</li>
                <li><%= link_to 'About', about_path %> |</li>
                <li><%= link_to 'Ebooks', ebook_path %> |</li>
                <li><%= link_to 'Gear', gear_path %></li>
            </ul>
        </nav>
    </footer>
</div>