<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="~/eric/trader_app/app/assets/images/Overland-x-trader.PNG" width="30" height="30" class="d-inline-block align-top" alt="">
    Overland X Trader
  </a>
</nav>