<!-- Image and text -->
<nav class="navbar navbar-default">
  <a class="navbar-brand" href="#">
    <img src="Overland-x-trader.PNG" alt="burger trader" width="30" height="30" class="d-inline-block align-top" alt="">
    Overland X Trader
  </a>
</nav>


# ~/eric/trader_app/app/assets/images/Overland-x-trader.PNG